{{> Head }}
<body onload="preload()">
    {{> NavBar}}
  <section class="main" style="margin-bottom: 2rem;">
    <div class="container">
      <div class="row" style="margin-top: 2rem;">
        <div class="col-sm-6 float-left">
          {{> VideoPanel }}
        </div>
        <div class="col-sm-6 float-right">
          {{> PredictionPanel }}
        </div>
      </div>
    </div>
  </section>
  <section class="description">
    <div class="container">
      {{> ModelDescriptionLayout }}
    </div>
  </section>
  {{> JsImports }}
</body>